
/* generics */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    padding-top: 70px;
}

footer{
    background-color: #333;

    /* to be removed */
    height: 200px;
}

ul{
    list-style: none;
}

li a{
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    font-size: 20px;
}

.row{
    flex-direction: column;
}

.col{
    height: 400px;
    padding: 10px;
}

.card{
    border-radius: 30px;
    height: 100%;
}

/* utils */

.bg-light-blue{
    background-color: #0084FD;
}

.bg-aqua{
    background-color: #B5DDFF;
}

.bg-purple{
    background-color: #9792E4;
}

.bg-white{
    background-color: #fff;
}

.white{
    color: #fff;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.section{
    padding: 50px 0;
}

.button{
    padding: 5px 10px;
    border-radius: 20px;
    color: #000;
}



/* header */

header nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

nav .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

nav #menu-ext{
    display: none;
}

/* Demo section */

#demo .card{
    background-color: #B5DDFF;
}

/* Strategic planning */

/* Testimonials */

#testimonials .card{
    background-color: #9792E4;
}

/* Benefits */

#benefits .card{
    background-color: #fff;
}

/* About us */

#about-us .card{
    background-color: #fff;
}

/* Get started */

/* Footer */



/* Responsive queries */

@media screen and (min-width: 768px){
    main .row{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col.w-66{
        width: calc(100% / 3 * 2);
    }

    .col.w-33{
        width: calc(100% / 3);
    }

    .col.w-100{
        width: 100%;
    }

    .col.w-50{
        width: 50%;
    }
}

@media screen and (min-width: 992px){
    #strategic-plan .col {
        width: 50%;
    }

    .container{
        width: 992px;
    }

    nav #menu-ext{
        display: flex;
    }

    nav #menu-icon{
        display: none;
    }
}