
/* generics */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    padding-top: 70px;
}

footer{
    background-color: #333;

    /* to be removed */
    height: 200px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    font-size: 20px;
}

.row{
    flex-direction: column;
}

.col{
    padding: 20px;
}

.card{
    border-radius: 30px;
    height: 100%;
}
.col.w-33 .card-text{
    text-align: center;
}

.card-text > *{
    font-weight: 700;
}

.card-text{
    padding: 30px;
}

img{
    max-width: 100%;
    display: inline-block;
}

.container{
    width: 100%;
    margin: 0 auto;
}

/* utils */

/* color palette */

.orange{
    color: #FDC15F;
}

.light-blue{
    color: #0084FD;
}

.white{
    color: #fff;
}

.gray{
    color: #5A6E7F;
}

.black{
    color: #000;
}

.purple{
    color: #9792E4;
}

.bg-light-blue{
    background-color: #0084FD;
}

.bg-aqua{
    background-color: #B5DDFF;
}

.bg-purple{
    background-color: #9792E4;
}

.bg-white{
    background-color: #fff;
}


/* other */

.mb-30{
    margin-bottom: 30px;
}


.d-flex{
    display: flex;
}

.section{
    padding: 50px 0;
}

.button{
    padding: 5px 10px;
    border-radius: 20px;
}

.big-button{
    padding: 20px 50px;
    border-radius: 30px;
}

.font-12{
    font-size: 12px;
}
.font-18{
    font-size: 18px;
}

.font-24{
    font-size: 24px;
}

.font-30{
    font-size: 30px;
}

.font-36{
    font-size: 36px;
}


/* header */

header nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
}

nav .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

nav #menu-ext{
    display: none;
}

/* Demo section */

#demo .card{
    background-color: #B5DDFF;
}

#demo .card-img{
    text-align: center;
    max-width: 60%;
}

/* Strategic planning */

#strategic-plan .card-text{
    text-align: center;
}

#strategic-plan a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Testimonials */

#testimonials .card{
    background-color: #9792E4;
    text-align: center;
}

#testimonials .article{
    text-align: center;
}

#testimonials .card-img{
    padding: 30px;
}

#testimonials img, #about-us img{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

/* Benefits */

#benefits .card{
    background-color: #fff;
}

/* About us */

#about-us .card{
    background-color: #fff;
    text-align: center;
}



/* Get started */

#get-started .card-text{
    text-align: center;
}

#get-started #underlined-link{
    padding: 0;
    text-decoration: underline;
}

/* Footer */



/* Responsive queries */

@media screen and (min-width: 768px){
    main .row{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .w-33{
        width: calc(100% / 3);
    }
    .w-40{
        width: 40%;
    }
    .w-50{
        width: 50%;
    }
    .w-60{
        width: 60%;
    }
    .w-66{
        width: calc(100% / 3 * 2);
    }
    .w-100{
        width: 100%;
    }

}

@media screen and (min-width: 992px){
    #strategic-plan .col {
        width: 50%;
    }

    #strategic-plan .card {
        height: min-content;
    }

    .container{
        width: 992px;
    }

    nav #menu-ext{
        display: flex;
    }

    nav #menu-icon{
        display: none;
    }

    #demo .card{
        display: flex;
        flex-basis: 50%;
    }

    #demo .card-img{
        align-self: flex-end;
    }

    #testimonials .card{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #testimonials .card-img{
        flex-shrink: 0;
    }
}